<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <span>
        <h3>User Information</h3>
        <p>Name: </p><p th:text = "${current_user.name}"></p><br>
        <p>Lastname: </p><p th:text = "${current_user.lastname}"></p><br>
        <p>Year of Birth: </p><p th:text = "${current_user.yearOfBirth}"></p><br>
        <p>Username: </p><p th:text = "${current_user.username}"></p><br>
        <p>Password: </p><p th:text = "${current_user.password}"></p><br>
    </span>
    <form th:action="@{/logout}" style="position: absolute; right: 0; top: 0; width: 100px; height: 50px">
        <button>Log out</button>
    </form>
</body>
</html>